@page
@model FlockBuster.Pages.KundeServiceModel
    <h1 class="text-light">Indsend en anmodning</h1>
    <br />
    <div>
        <p class="text-light h6">E-mailadresse</p>
        <input type="email" style="width: 502px; height: 40px;"/>

        <p class="text-light h6" style="margin-top: 19px;">Navn</p>
        <input type="text" style="width: 502px; height: 40px;" />
        
        <p class="text-light h6" style="margin-top: 19px;">Hvad drejer din henvendelse sig om?</p>
        <input type="text" style="width: 502px; height: 40px;" />

        <p class="text-light h6" style="margin-top: 19px;">Beskrivelse</p>
        <textarea rows="5" cols="65" style="min-height: 126px;"></textarea>
        <br />
        <button class="btn btn bg-transparent"style="margin-top:20px; background-color:grey; border-color: grey; color: white;">Indsend</button>

    </div>