.background {
    background-image: url('/images/background.png');
    background-size: cover
}
nav {
    margin-left: 15px;
    margin-top: 5px;
    padding: 10px;
    justify-content: space-around;
    color: white;
    
}
.navbar ul li a {
    padding: 25px 7px;
    transition: 0.25s ease-in;
    color: white;
    font-size: larger;
    list-style: none;
    font-weight:500;
}
.navbar ul li a:hover{
    transition:ease-in 0.25s;
    color: black;
    background-color: yellow;
    font-size:larger;
}
.ul-a-item {
    color: white;
    transition: 0.5s;
}
.ul-a-item:hover {
    color: yellow;
    transition: 0.5s;
}